.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1.2vw;
  row-gap: 0.6vw;
  margin: 2vw;
  position: relative;
}

@media (min-width: 400px) {
  .grid-container,
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 650px) {
  .grid-container,
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .grid-container,
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.grid-item img {
  width: 100%;
  border-radius: 1vw;
  height: 250px;
  object-fit: cover;
}

.grid-item {
  position: relative;
  border-radius: 6px;
  border: 3px rgba(127, 76, 32) solid;
  padding: 2vw;
  background-color: rgba(127, 76, 32, 0.695);
  backdrop-filter: blur(2px);
}

header {
  background-color: rgba(94, 57, 25, 0.796);
  padding: 1vw;
  text-align: center;
}

form {
  display: table-caption;
  margin-left: 2vw;
  /* padding: 5em; */
}

.confirm-btn {
  margin-top: 5px;
  padding: 6px;
}

#btn-close {
  margin-left: 2vw;
  font-size: 0.7em;
  padding: 0.4em 0.8em;
}

footer {
  background-color: rgba(94, 57, 25, 0.903);
  padding: 2vw;
}

body {
  margin: 0vw;
  background-color: #f3f3f3;
  background-image: url("images/middle earth.jpg");
  font-family: Arial, Helvetica, serif;
  font-style: normal;
  color: #d5a927;
}

h1,
h2,
h3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-family: "lucida handwriting", "lucida console";
  /* font-family: "Brush Script MT", cursive; */
  /* font-weight: 300; */
  /* font-size: xx-large; */
}

#char {
  color: rgb(86 54 30);
  text-shadow: 2px 2px#f0d37c;
}

section h2 {
  text-align: center;
}

button,
#btn-submit,
#btn-cancel,
.btn-cancel {
  background-color: rgb(163, 97, 39);
  border: 2px solid rgb(99, 59, 25);
}

#btn-yes,
#btn-no-update,
#btn-no-delete,
#btn-delete,
#btn-no-create {
  background-color: rgb(120, 69, 24);
  border: 2px solid rgb(99, 59, 25);
}

dialog {
  max-width: 50vw;
  background-color: rgb(127, 76, 32);
  backdrop-filter: blur(2px);
  border: 2px solid rgb(87, 52, 21);
  color: #d5a927;
}

.modal-item img {
  width: 100%;
  border-radius: 1vw;
  height: 400px;
  object-fit: cover;
}

input,
select {
  background-color: rgb(142, 86, 37);
  backdrop-filter: blur(2px);
  border: 2px solid rgb(99, 59, 25);
}
